<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Plastic Waste Dectection</title>
   <!-- Bootstrap core CSS -->

    <link href="../static/web/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/web/cover.css" rel="stylesheet">
    <link href="../static/web/main.css" rel="stylesheet">
  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto mr-auto ml-auto">
        <div class="inner">
          <h3 class="masthead-brand">Plastic Waste Dectection &nbsp;&nbsp;&nbsp;</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="#home" data-toggle="tab" active>Home</a>
            <a class="nav-link" href="#information" data-toggle="tab">Information</a>
            <!-- <a class="nav-link" href="#team" data-toggle="tab">Team</a> -->
          </nav>
        </div>
      </header>

      <div class="panel-body cover-container d-flex h-100 p-3 mx-auto flex-column">

        <!-- Overview Tab-Pane -->
        <div class="tab-content">
        <div id="home" class="tab-pane active">{% include 'upload.html' %}</div>
        <div id="information" class="tab-pane">{% include 'info.html' %}</div>
        <div id="team" class="tab-pane">{% include 'team.html' %}</div>


          <footer class="mastfoot mt-auto">
            <div class="inner"></div>
          </footer>
        </div>
      </div>
    </div>

    {% block script %}
    <script src="../static/web/main.js"></script>
    <script src="../static/web/jquery.min.js"></script>
    <script src="../static/web/jquery-1.9.1.min.js"></script>
    <!-- <script src="../static/web/bootstrap.min.js"></script> -->
    <script src="../static/web/bootstrap.min2.js"></script>
    <script type="text/javascript">
      $(function() {
        // Javascript to enable link to tab
        var hash = document.location.hash;
        if (hash) {
          console.log(hash);
          $('.nav-masthead a[href="'+hash+'"]').tab('show');
        }

        // Change hash for page-reload
        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
          window.location.hash = e.target.hash;
        });
      });
    </script>
    {% endblock %}

  </body>
</html>