
<main role="main" class="inner cover">
    <h1 class="cover-heading">Cover your page.</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
</p>
</p>
</main>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Super category</th>
        <th scope="col">Category</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Bottle</td>
        <td>Clear plastic bottle</td>

      </tr>
      <tr>
        <td>Bottle</td>
        <td>Other plastic bottle</td>
      </tr>
      <tr>
        <td>Bottle cap</td>
        <td>Plastic bottle cap</td>
      </tr>
      <tr>
        <td>Cup</td>
        <td>Disposable plastic cup</td>
      </tr>
      <tr>
        <td>Cup</td>
        <td>Foam cup</td>
      </tr>
      <tr>
        <td>Cup</td>
        <td>Other plastic cup</td>
      </tr>
      <tr>
        <td>Lid</td>
        <td>Plastic lid</td>
      </tr>
      <tr>
        <td>Plastic bag & wrapper</td>
        <td>Garbage bag</td>
      </tr>
      <tr>
        <td>Plastic bag & wrapper</td>
        <td>Single-use carrier bag</td>
      </tr>
      <tr>
        <td>Plastic bag & wrapper</td>
        <td>Polypropylene bag</td>
      </tr>
      <tr>
        <td>Plastic bag & wrapper</td>
        <td>Polypropylene bag</td>
      </tr>
      <tr>
        <td>Plastic bag & wrapper</td>
        <td>Plastic Film</td>
      </tr>
      <tr>
        <td>Plastic bag & wrapper</td>
        <td>Six pack rings</td>
      </tr>
      <tr>
        <td>Plastic bag & wrapper</td>
        <td>Crisp packet</td>
      </tr>
      <tr>
        <td>Plastic bag & wrapper</td>
        <td>Other plastic wrapper</td>
      </tr>
      <tr>
        <td>Plastic container</td>
        <td>Spread tub</td>
      </tr>
      <tr>
        <td>Plastic container</td>
        <td>Tupperware</td>
      </tr>
      <tr>
        <td>Plastic container</td>
        <td>Disposable food container</td>
      </tr>
      <tr>
        <td>Plastic container</td>
        <td>Foam food container</td>
      </tr>
      <tr>
        <td>Plastic container</td>
        <td>Other plastic container</td>
      </tr>
      <tr>
        <td>Plastic glooves</td>
        <td>Plastic glooves</td>
      </tr>
      <tr>
        <td>Plastic utensils</td>
        <td>Plastic utensils</td>
      </tr>
      <tr>
        <td>Squeezable tube</td>
        <td>Squeezable tube</td>
      </tr>      
      <tr>
        <td>Straw</td>
        <td>Plastic straw</td>
      </tr>
      <tr>
        <td>Styrofoam piece</td>
        <td>Styrofoam piece</td>
      </tr>
      <tr>
        <td>Other plastic</td>
        <td>Other plastic</td>
      </tr>
      
    </tbody>
  </table>
