<main role="main" class="inner cover">
  <h1 class="cover-heading">Cover your page.</h1>
  <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
  <p class="lead">
    <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <div class="file-upload">
      <form action="/" method="POST" enctype="multipart/form-data">
      <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>

      <div class="image-upload-wrap">
        <input class="file-upload-input" type="file" name="image" id="fileToUpload" onchange="readURL(this);" accept="image/*" />
        <div class="drag-text">
          <h3>Drag and drop a file or select add Image</h3>
        </div>
      </div>
      <div class="file-upload-content">
        <img class="file-upload-image" src="#" alt="your image" />
        <div class="image-title-wrap">
          <button type="button" onclick="removeUpload()" class="remove-image">Remove</button>
          <br>
        </div>
      </div>
    </div>
    <br>
    <button type="submit" class="btn btn-secondary btn-lg" name="submit">Upload Image</button>

  </form>
    <br>
    {% if output %}
    <br>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Show Result
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Uploaded Image</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img data-toggle="magnify" src="{{output}}">
            <br>

              {% if obj %}
              <table class="table table-bordered table-hover" style="width: 100%;">
                <thead class="thead-light">
                  <tr>
                    <th>Objects</th>
                    <th>Count</th>
                  </tr>
                </thead>
                <tbody>
                  {% for class, count in objc.items() %}
                      <tr>
                        <td>{{class}}</td>
                        <td>{{count}}</td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% else %}
              <span style="color:white;font-weight:bold">No Plastic Objects Detected!</span>
              {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <img src="">
    {% endif %}
  </p>
</main>
